h1,
h2,
p {
  margin: 0;
}

html {
  font-family: "Roboto", Helvetica Neue, Open Sans, no-serif;
}

button {
  outline: 0;
  border: none;
  cursor: pointer;
  background: none;
}

a {
  text-decoration: none;
}
