h1,
h2 {
  margin: 0;
}

html {
  font-family: "Roboto", Helvetica Neue, Open Sans, no-serif;
}

body {
  background-color: #f8fcff;
}

button {
  outline: 0;
  border: none;
  cursor: pointer;
  background: none;
}
